In [1]:
# Import libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')
import seaborn as sns
import plotly.express as px
import warnings
warnings.filterwarnings('ignore')

# Standerdize features

from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler

# Encoding Features
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import RobustScaler
from scipy.stats import boxcox

In [2]:
df = pd.read_csv("../data/external/Bank_Customer_Churn_Prediction.csv")
df.head()

,customer_id,credit_score,country,gender,age,tenure,balance,products_number,credit_card,active_member,estimated_salary,churn
0,15634602,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,15647311,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,15619304,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,15701354,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,15737888,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
# Drop the column customer_id because it's useless for our machine learning model
df.drop(['customer_id'],axis=1,inplace=True)

In [4]:
df.tenure.unique()

array([ 2,  1,  8,  7,  4,  6,  3, 10,  5,  9,  0])

In [5]:
df.tenure.unique()

array([ 2,  1,  8,  7,  4,  6,  3, 10,  5,  9,  0])

In [6]:
# Replace labels of the column tenure

df.loc[df['tenure'] == 0, 'tenure'] = "New_client"
df.loc[df['tenure'] == 10, 'tenure'] = "Medium_client"
df.loc[df['tenure'] == 1, 'tenure'] = "Old_client"
df.loc[df['tenure'] == 2, 'tenure'] = "Old_client"
df.loc[df['tenure'] == 3, 'tenure'] = "Old_client"
df.loc[df['tenure'] == 4, 'tenure'] = "Old_client"
df.loc[df['tenure'] == 5, 'tenure'] = "Old_client"
df.loc[df['tenure'] == 6, 'tenure'] = "Old_client"
df.loc[df['tenure'] == 7, 'tenure'] = "Old_client"
df.loc[df['tenure'] == 8, 'tenure'] = "Old_client"
df.loc[df['tenure'] == 9, 'tenure'] = "Old_client"

In [7]:
# Replace the labels for the column products_number
df.loc[df['products_number']==1,'products_number'] = 1
df.loc[df['products_number']==2,'products_number'] = 2
df.loc[df['products_number']==3,'products_number'] = 3
df.loc[df['products_number']==4,'products_number'] = 3

# Encoding categorical features

In [56]:
label_encoder = LabelEncoder()
for col in df.select_dtypes('object'):
	df[col] = label_encoder.fit_transform(df[col])

# Standardize continuous features

In [58]:
numerical_features = ['credit_score','balance','estimated_salary']
standard_encoder = StandardScaler()

for col in numerical_features:
	df[col] = standard_encoder.fit_transform(df[[col]])

# Save the preprocessed data

In [61]:
df. to_csv (r'../data/processed/preprocessed_data.csv')